.footer {
  margin-top: 80px;
}

.footer p {
  font-weight: 200;
  font-style: italic;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: large;
}
